<%= form_tag('/shelters', method: :patch) do %>
  <label>name:</label><br>
  <%= text_field_tag :'shelter[name]', @shelter.name %><br>

  <label>address:</label><br>
  <%= text_field_tag :'shelter[address]', @shelter.address %><br>

  <label>city:</label><br>
  <%= text_field_tag :'shelter[city]', @shelter.city %><br>

  <label>state:</label><br>
  <%= text_field_tag :'shelter[state]', @shelter.state %><br>

  <label>zip:</label><br>
  <%= text_field_tag :'shelter[zip]', @shelter.zip %><br>

  <label>Shelter ID:</label><br>
  <%= text_field_tag :'shelter[id]', @shelter.id%><br>

  <%= submit_tag "Update Shelter" %>
<% end %>
