<div class="form">
  <%= form_tag ('/shelters') do %>
    <label>name:</label><br>
    <%= text_field_tag :name %><br>

    <label>address:</label><br>
    <%= text_field_tag :address %><br>

    <label>city:</label><br>
    <%= text_field_tag :city %><br>

    <label>state:</label><br>
    <%= text_field_tag :state %><br>

    <label>zip:</label><br>
    <%= text_field_tag :zip %><br><br>

    <%= submit_tag "Create Shelter" %><br><br>
  <% end %>
</div>
