<ul class="nav">
  <li class="navlink"><%= link_to "Shelter's Pets", "/shelters/#{@shelter.id}/pets" %></li>
</ul>

<h1>Shelter Details</h1>
  <div id="shelterinfo">
    <h2><%= @shelter.name %></h2>
    <h3>Address: <%= @shelter.address %></h3>
    <h3>City: <%= @shelter.city %></h3>
    <h3>State: <%= @shelter.state%></h3>
    <h3>Zip: <%= @shelter.zip %></h3>

    <h4><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></h4>
    <h4><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", :method => :delete %></h4>
  </div>

  <h1>Shelter Reviews</h1>
    <div id="shelterreviews">
      <% @shelter.reviews.each do |review| %>
      <h2> Title: <%= review.title %></h2>
      <h2> Rating (out of 5): <%= review.rating %></h2>
      <p> Content: <%= review.content %></p>
      <% if review.image != nil %>
      <%= image_tag "#{review.image}" %>
      <% end %>
      <h4><%= link_to "Edit Review", "/shelters/#{@shelter.id}/#{review.id}/edit" %> </h4>
      <h4><%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", :method => :delete %> </h4>
    <% end %>


    <h2><%= link_to "Add Review", "/shelters/#{@shelter.id}/new" %> </h2>
