
<h1>All Pets</h1>
    <% @pets.each do |pet| %>
      <div class="pet">
        <div class="petlinks">
          <h4><a href="http://localhost:3000/pets/<%= pet.id %>/edit">Update Pet</a></h4>

          <h4 id="deletelink"><%= link_to "Delete Pet", "/pets/#{pet.id}", :method => :delete %><br></h4>
        </div>

      <% shelter = Shelter.find(pet.shelter_id)%>

      <%= image_tag pet.image %>

      <ul id="petlist">
        <li>name: <a href="http://localhost:3000//pets/<%= pet.id %>"><%= pet.name %></a></li>
        <li>Age: <%= pet.approximate_age %></li>
        <li>Sex: <%= pet.sex %></li>
        <li>Current Location: <a href="http://localhost:3000//shelters/<%= shelter.id %>"><%= shelter.name %></a></li>
      </ul>

      </div>
    <% end %>
