
  <% if @pet.adoption_status == "Pending" %>
  <h3>On hold for <%= @app.name %></h3>
  <% end %>
  <div class="dropdown">
    <h4>Applications for <%= @pet.name %></h4>

    <div class="dropdown-content">
      <% if @apps_pets == [] %>
        <p><%= "There are no current apppcations for this pet." %></p>
      <% end %>
      <% @apps_pets.each do |app_pet| %>
      <% app = Application.get_app_by_id(app_pet.applications_id) %>
      <ul>
          <li><%= link_to "#{app.name}", "/applications/#{app.id}" %></li>
      </ul>
      <% end %>
    </div>
  </div>


<h2 id="petname"><%= @pet.name %></h2>

<div id="showpet">
  <%= image_tag @pet.image %>
  <ul>
    <li>Age: <%= @pet.approximate_age %></li>
    <li>Sex: <%= @pet.sex %></li>
    <li>Current Location:  <a href="/shelters/<%= @shelter.id %>"><%= @shelter.name %></a></li>
    <li>Adoption Status: <%= @pet.adoption_status %></li>
  </ul>
</div>

<div class="links">
  <% if @pet.favorite == true %>
    <%= link_to "Remove From Favorites", "/pets/#{@pet.id}/fav", method: :delete %><br>
  <% else %>
    <%= link_to "Favorite This Pet", "/pets/#{@pet.id}/fav" %><br>
  <% end %>

  <h4><a href="/pets/<%= @pet.id %>/edit">Update Pet</a></h4>
  <% if @pet.adoption_status != "Pending" %>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", :method => :delete %><br>
  <% end %>
</div>
