<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <link rel="stylesheet" href="mobileStyles.css" media: "screen and (min-device-width: 800px)" />
    <%= stylesheet_link_tag    'application', media: "screen and (min-device-width: 800px)" %>
    <%= javascript_include_tag 'application' %>

  </head>
  <div id="borderimg">
    <ul id="nav">
      <li id="navlink"><h3><%= link_to 'Pet Index', '/pets' %></h3></li>
      <li id="navlink"><h3><%= link_to 'Shelter Index', '/shelters' %></h3></li>
    </ul>


  <body>
    <%= yield %>
  </body>
  </div>
</html>
